@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Frank Ruhl Libre';
  src: url('/fonts/FrankRuhlLibre-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
}

html,body {
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-size: 15px;
}

h1 {
  font-weight: 900; /* Bold */
}

p {
  font-weight: 300; /* Light */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}





.swiper-pagination {
  bottom: 0;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background: #BFC2C9;
  margin-right: 14px;
  border-radius: 100% !important;
  display: inline-block;
  cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 6px !important;
  height: 6px !important;

  border-radius: 100% !important;
  background: #FEE198;
}

